<div class="table-responsive">
	<table id="userList"
		class="table table-bordered table-hover table-striped">
		<thead class="thead-light">
			<tr>
				<th scope="col">Codigo</th>
				<th scope="col">Nombre</th>
				<th scope="col">Experiencia</th>
				<th scope="col">Codigo Secr.</th>
				<th scope="col">Via (actual)</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">AX528B</th>
				<td>Sebastian Mila</td>
				<td>1.2</td>
				<td>A-CRC</td>
				<td></td>
				<td><a href="#"><i class="fas fa-user-plus color_bl"></i></a> |
					<a href="#"><i class="fas fa-user-times color_bl"></i></a> | <a
					href="#"><i class="fas fa-edit color_bl"></i></a></td>
			</tr>
		</tbody>
	</table>
</div>